.home {
    width: 100%;
    height: 67vh;
    display: flex;
   
    align-items: center;
    background-color: antiquewhite;
    font-family: "Noto Sans";
    text-align: center;
   
}

.home-btn {
    border: none;
    outline: none;
    color: white !important;
    background-color: rgb(255, 96, 39);
    border-radius: 8px;
}

